* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #000000;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #000000;
    color: #ffffff;
    padding-bottom: 3%;
}

form {
    border: 1px solid #92e2aa;
    border-radius: 5px;
    width: 50%;
    background-color: #027c02;
    padding: 1%;
}

.name,
.email,
.password {
    display: flex;
    flex-direction: column;
    padding: 2%;
    width: 100%;
}

label {
    font-size: 16px;
    margin-bottom: 1%;
    color: #ffffff;
    
}

input {
    padding: 1.3%;
    border: 1px solid #57f15f;
    border-radius: 5px;
    width: 90%;
    background-color: #0c4207d7;
    
}

input::placeholder {
    color: #ffffff;
}
input:focus {
    border-color: #21da10;
    outline: none;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3%;
}

button[type="submit"] {
    background-color: #21da10;
    border: 1px solid white;
    font-size: 16px;
    color: black;
    border-radius: 5px;
    padding: 2%;
    cursor: pointer;
    width: 45%;
}

button[type="reset"] {
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
    margin-left: 87%;
    background-color: #142b16;
    border: none;
}

button[type="submit"]:hover {
    background-color: #07a714;
}

button[type="reset"]:hover {
    color: #21cc1c;
}

.senha {
    position: relative;
}

.senha-input{
    position: relative;
    width: 100%;
}

.bi {
    position: absolute;
    top: 58.6%;
    right: 28%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 23px;
}